html {
  background-color: #ffffff;
  background-image: url();
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  padding-left: 0;
  padding-right: 0;
  background: transparent;
}



#title{
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.129412);
  font-size: 75px;
  text-align: center;
  color: black;
  font-family:"brandon-grotesque", helvetica, arial;
  font-weight: 500;
}

h1,h2,h3,h4, h5, h6,p,* {  
  color: grey;
  font-family:"jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
}

#nav-bar{
  background: rgba(255, 255, 255, 0.278431);
  border: none;
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0666667);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0666667);
  -o-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0666667);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.0666667);
  padding-left: 20px;
  padding-right: 20px;
}
#search-form {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.227451);
  -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.701961), 0px 1px 2px 0px rgba(0, 0, 0, 0.270588);
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.701961), 0px 1px 2px 0px rgba(0, 0, 0, 0.270588);
  -o-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.701961), 0px 1px 2px 0px rgba(0, 0, 0, 0.270588);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.701961), 0px 1px 2px 0px rgba(0, 0, 0, 0.270588);
  width: 400px;
}
svg#information{
  width: 1000px;
  height: 500px;
  margin:5px;
  padding-left: 0;
  padding-right: 0;
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line{
  fill: none;
  stroke: steelblue;
  stroke-width: 0.5px;
  fill-opacity: .25;
}
.line2{
  fill: steelblue;
  stroke: steelblue;
  stroke-width: 0.5px;
  fill-opacity: .125;
}
.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.node circle {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
  text-anchor: middle;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}