{% extends "mainpage.html" %}
{% block about %}
<div class="row">
	<div class="col-lg-12">
		<h2>Team</h2>
	</div>
</div>
<div class="row text-center">
	<div class="col-lg-4">
		<h2>David</h2>
		<h4>CEO & Chief Data Officer</h4>
	</div>
	<div class="col-lg-4">
		<h2>Miguel</h2>
		<h4>CMO & Business Developer</h4>
	</div>
	<div class="col-lg-4">
		<h2>Roi</h2>
		<h4>CTO & User Experience</h4>
	</div>
</div>
<div class="row text-center">    
<hr>  
<br>
<br>
<div class="col-xs-12 col-md-12">
  <a href="http://tetuanvalley.com/"><img style="width:60%;" src="/static/img/tetuanvalley.png"></img></a>
  <h2>We are proud to be a Tetuan Valley Startup and share its values.</h2>        
  <br> 
</div>

</div>      
    
{% endblock %}