<!DOCTYPE html>
<html lang="en"> <head>
<meta charset="utf-8">
<title>D3 Page Template</title>
<script type="text/javascript" src="js/d3.js"></script>
<link rel="stylesheet" href="css/mainLook.css"/>
</head>
        <body>
            <script type="text/javascript">
            
            
            var dataset;
            var w=500;
            var h = 200;
            
            var svg = d3.select("body")
                  .append("svg")
                  .attr("width",w)
                  .attr("height",h);
                  
            /*var test = [ 5, 10, 15, 20, 25 ];
            
            svg.selectAll("rect")
                   .data(test)
                   .enter()
                   .append("rect")
                   .attr("x", function(d, i) {
                     return i * (w / test.length);
                     })
                   .attr("y", 0)
                   .attr("width", 20)
                   .attr("height", 100);*/
            
       /*     var circles=svg.selectAll("circle")
            .data(test)
            .enter()
            .append("circle")
            .attr("cx",function(d,i){
                  return (i*50) + 25;
            });
            circles.attr("cy",50/2)
            .attr("r", function(d){
                  return d;
            })*/
            
   
            d3.csv("data/sentiment.csv",function(error,data){
                  dataset = data;
                  if(error){
                        console.log(error);
                  }
                  else{
                         
                         var scale = d3.scale.linear()
                                .domain([0, 10])
                                .range([0, 200]);
                         
                         
                         svg.selectAll("rect")
                                .data(dataset)
                                .enter()
                                .append("rect")
                                .attr("x", function(d, i) {
                                       return i * 21;
                                })
                                .attr("y", function(d){
                                       return h-d.positive*10;
                                })
                                .attr("width", 20)
                                .attr("height", function(d){
                                       return d.positive*10;
                                })
                                .attr("fill", "blue");
                               
                     svg.selectAll("text")
                                .data(dataset)
                                .enter()
                                .append("text")
                                .text(function(d){
                                       return d.positive.toString();
                                })
                                .attr("x", function(d, i) {
                                return i * 21 + 10;
                                })
                                .attr("y", function(d) {
                                return h - (d.positive * 10)+10;})
                                .attr("text-anchor", "middle")
                                .attr("font-family", "sans-serif")
                                .attr("font-size", "10px")
                                .attr("fill", "white");
                                
                     
                         
                        /*d3.select("body")
                        .data(dataset)
                        .enter()
                        .append("div")
                        .text(function(d){
                              return d.entity + " " + d.date + " " + d.positive + " " + d.negative;
                        })
                        .style("color",function(d){
                              if (d.positive>8){
                                    return "blue";
                              }
                              else{
                                    return "red";
                              }
                        });*/
                        
                        /*d3.select("body")
                        .data(dataset)
                        .enter()
                        .append("div")
                        .attr("class", "bar")
                        .style("height",function(d){
                              return d.positive*10 + "px";
                        })
                        .style("background-color",function(d){
                              if(d.positive<5){return "red";}
                              else{return"blue";}
                        });            
                        d3.select("body")
                        .data(dataset)
                        .enter()
                        .append("div")
                        .attr("class", "bar")
                        .style("height",function(d){
                              return Math.random()*100 + "px";
                        })
                        .style("background-color",function(d){
                              if(Math.random()<0.5){return "red";}
                              else{return"blue";}
                        });*/
                  }
            });
            </script>
        </body>
</html>