<!DOCTYPE html>
<html lang="en"> <head>
<meta charset="utf-8">

<style>
body{
       font: 12px Arial;
}
path{
       stroke: steelblue;
       stroke-width: 2;
       fill: none;
}
.axis path,
.axis {
       fill: none;
       stroke: grey;
       stroke-width: 1;
       shape-rendering: crispEdges;
}
.lineNegative{
       stroke: red;
}
.linePositive{
       stroke: blue;
}
.lineMentions{
       stroke: grey;
}
</style>

<title>D3 Page Template</title>
<script type="text/javascript" src="js/d3.js"></script>
<link rel="stylesheet" href="css/mainLook.css"/>
</head>
        <body>
        <div id="option">
        <input name="updateButton"
                   type="button"
                   value="Update"
                   onclick="updateData()"/> </div>
            <script type="text/javascript">
            
            
            var margin = { top:30,right:20,bottom:30,left:50};
            var width = 800 - margin.left -margin.right;
            var height = 400 - margin.top - margin.bottom;
            var x = d3.time.scale().range([0,width]);
            var y = d3.scale.linear().range([height,0]);
            var xAxis = d3.svg.axis().scale(x).orient("bottom").ticks(10).tickFormat(d3.time.format("%y-%m-%d"));
            var yAxis = d3.svg.axis().scale(y).orient("left").ticks(10);
            var valuelinePositive = d3.svg.line()
                   .interpolate("basis")
                   .x(function(d) {return x(d.date);})
                   .y(function(d) {return y(d.positive);});
            var valuelineNegative = d3.svg.line()
                   .interpolate("basis")
                   .x(function(d) {return x(d.date);})
                   .y(function(d) {return y(d.negative);});
            var valuelineMentions = d3.svg.line()
                   .interpolate("basis")
                   .x(function(d) {return x(d.date);})
                   .y(function(d) {return y(d.mentions);});
            
            var parseDate = d3.time.format("%d-%b-%y").parse;
            
            var svg = d3.select("body")
                  .append("svg")
                  .attr("width",width + margin.left + margin.right)
                  .attr("height", height + margin.top + margin.bottom)
                  .append("g")
                  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            d3.csv("data/sentiment.csv",function(error,data){
                   
                  
                  if(error){console.log(error);}
                  else{
                         data.forEach(function(d){
                                d.date=parseDate(d.date);
                         });
                         
                         x.domain(d3.extent(data,function (d){return d.date;}));
                         y.domain([0,10]);
                         
                         
                         svg.append("g")
                             .attr("class", "x axis")
                             .attr("transform", "translate(0," + height + ")")
                             .call(xAxis)
                             .style("font-size", "10px");
                         svg.append("g")
                             .attr("class", "y axis")
                             .call(yAxis);
                         
                         var pathPositive = svg.append("path")
                         .style("stroke-dasharray", ("5, 3"))
                         .attr("class","linePositive")
                         .attr("d",valuelinePositive(data));
                         
                         svg.append("path")
                         .style("stroke-dasharray", ("5, 3"))
                         .attr("class","lineNegative")
                         .attr("d",valuelineNegative(data));
                         
                         svg.append("path")
                         .style("stroke-dasharray", ("5, 3"))
                         .attr("class","lineMentions")
                         .attr("d",valuelineMentions(data));

                         svg.append("text")
                                 .attr("x", (width / 2))
                                 .attr("y", 25 )
                                 .attr("text-anchor", "middle")
                                 .style("font-size", "12px")
                                 .text("MENCIONES Y VALORACIÓN DE OBAMA");
                  }
            });
            
            function updateData() {
                // Get the data again
                  d3.csv("data/sentiment.csv",function(error,data) {
                         data.forEach(function(d){
                                d.date=parseDate(d.date);
                         });

                          x.domain(d3.extent(data,function (d){return d.date;}));
                          y.domain([0,10]);
                          
                          svg.select(".linePositive")
                                 .duration(7500)
                                 .delay(7500)
                                 .attr("d", valuelinePositive(data));
                     
                   });
            }
            
            </script>
        </body>
</html>