<!DOCTYPE html>
<html lang="en"> <head>
<meta charset="utf-8">
<title>D3 Page Template</title>
<script type="text/javascript" src="js/d3.js"></script>
<link rel="stylesheet" href="css/mainLook.css"/>
</head>
        <body>
            <script type="text/javascript">
            
            
            var dataset;
            var w=500;
            var h = 200;
            var margin = { top:30;right:20;bottom:30,left:50};
            var width = 600 - margin.left -margin.right;
            var height = 300 - margin.top - margin.bottom;
            var x = d3.time.scale().range([0,width]);
            var y = d3.scale.linear().range([height,0]);
            
            var parseDate = d3.time.format("%d-%b-%y").parse;
            
             
            var svg = d3.select("body")
                  .append("svg")
                  .attr("width",w)
                  .attr("height",h);
                  
            d3.csv("data/sentiment.csv",function(error,data){
                  
                  if(error){console.log(error);}
                  else{
                         
                         var scale = d3.scale.linear()
                                .domain([0, 10])
                                .range([0, 200]);
                         
                         
                         svg.selectAll("rect")
                                .data(dataset)
                                .enter()
                                .append("rect")
                                .attr("x", function(d, i) {
                                       return i * 21;
                                })
                                .attr("y", function(d){
                                       return h-d.positive*10;
                                })
                                .attr("width", 20)
                                .attr("height", function(d){
                                       return d.positive*10;
                                })
                                .attr("fill", "blue");
                               
                     svg.selectAll("text")
                                .data(dataset)
                                .enter()
                                .append("text")
                                .text(function(d){
                                       return d.positive.toString();
                                })
                                .attr("x", function(d, i) {
                                return i * 21 + 10;
                                })
                                .attr("y", function(d) {
                                return h - (d.positive * 10)+10;})
                                .attr("text-anchor", "middle")
                                .attr("font-family", "sans-serif")
                                .attr("font-size", "10px")
                                .attr("fill", "white");
                                
                  }
            });
            </script>
        </body>
</html>