{% extends "mainpage.html" %}
{% block login %}
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-3"></div>  
      <div class="col-xs-12 col-md-6">
        {% if message %}
        <div class="alert alert-warning alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h4>{{message}}</h4>          
        </div>
        {% endif %}
        <br>
        <div class="well">           
          <form action="/login" method="POST">  
              <h3>Sign in to ethinker</h3>
              <br>
              <input type="text" class="form-control input-lg" name="user" placeholder="User">                        
              <br>             
              <input type="password" class="form-control input-lg" name="password" placeholder="Password"> 
              <br>
              <h4>Are you not a user yet? What are you wating for <a href="/signup">Signing Up</a></h4>
              <br>
              <button class="btn btn-primary btn-lg ">Sign in</button>                    
          </form>
          </div>    
      </div>
    </div>   
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}