{% extends "entities.html" %}
{% block search %}	
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="container">
		<div class="row text-center">
			<div class="col-lg-3"></div>	
			<div class="col-lg-6">
				<h4>The ethinker bot has extracted {{data.numEntities}} entities from {{data.articles}} articles analyzed from {{data.sources}} sources in the last 6 hours.</h4>
			</div> 
		</div>  
	</div>
	<br>		
	<div class="container">
		<div class="row text-center">
			<div class="col-lg-3"></div>	
			<div class="col-lg-6">
	  			<form action="/main" method="GET" >
		            <div class="input-group input-group-lg" >
		               <input type="text" class="form-control" name="search" placeholder="Search">
		               <div class="input-group-btn">
				        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Get Lucky <span class="caret"></span></button>
				        <ul class="dropdown-menu">
				          <button class="btn btn-default" name="value" value="summary"><i class="fa fa-user"></i>  Summary</button>
						  <button class="btn btn-default" name="value" value="mentions"><i class="fa fa-signal"></i>  Mentions</button>
						  <button class="btn btn-default" name="value" value="sentiment"><i class="fa fa-thumbs-o-up"></i>  Sentiment</button>
						  <button class="btn btn-default" name="value" value="network"><i class="fa fa-globe"></i>  Universe</button>
				        </ul>
				      </div><!-- /btn-group -->
		            </div>  
		        <form>  	  				  
	  		</div>
	  		<div class="col-lg-3"></div>	
		</div>  
	</div>
	<br>
	<div class="container">
		<div class="row text-center">
			<div class="col-lg-3"></div>
			<!--div class="col-lg-2">
				<h2>{{data.articles}}</h2>
				<h2>{{data.sources}}</h2>
				<h2>{{data.totalArticles}}</h2>
			</div-->
			<div class="col-lg-3">
				<h3>Top Entities</h3>
				{% for item in data.entities %}
				<p><a href="/main?search={{item.entity}}&value=summary">{{item.entity}}</a></p>
				{% endfor %}
			</div>
			<div class="col-lg-3">
				<h3>Top Categories</h3>
				{% for item in data.categories %}
				<p>{{item.category}}</p>
				{% endfor %}
			</div>
			<div class="col-lg-3"></div>
		</div>  
	</div>	
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

{% endblock %}